@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1140px;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
}

form {
    width: 300px;
    height: 250px;
    padding: 20px;
    margin-bottom: 50px;
    background: #FBFBFB;
    box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
    border-radius: 10px;
    margin-right: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.select-wrapper:hover {
    cursor: pointer;
}

form select {
    margin-top: 20px;
    width: 260px;
    height: 35px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: #FFF;
    border: 1px solid #cecccc;
    border-radius: 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

.box {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box input {
    width: 150px;
    height: 30px;
    padding: 0 10px;
    margin-left: 20px;
    border: 1px solid #cecccc;
    border-radius: 5px;
}

.box input:focus {
    outline: none;
}

.box button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    background-color: #a344f1;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
}

.answer {
    width: 720px;
    margin: 40px auto;
}

@media (max-width: 1199px) {
    .wrapper {
        width: 720px;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 560px;
    }
    .box {
        width: 560px;
    }
    .answer {
        width: 560px;
    }
}

@media (max-width: 575px) {
    .wrapper {
        width: 450px;
    }
    .box {
        width: 450px;
    }
    .box input {
        width: 100px;
    }
    .box button {
        width: 100px;
        margin-left: 20px;
    }
    .answer {
        width: 450px;
    }
}

@media (max-width: 481px) {
    .wrapper {
        width: 330px;
    }
    form {
        margin-right: 0;
    }
    .box {
        width: 330px;
        flex-wrap: wrap;
    }
    .box input {
        margin-left: 30px;
    }
    .box button {
        margin-left: 0;
        margin-top: 20px;
    }
    .answer {
        width: 330px;
        font-size: 13px;
    }
}