.cards {
    &__wrapper {
        width: 342px;
        margin: 27px auto 0 auto;
    }
    &__item {
        border: 0.3px solid #828282;
        border-radius: 16px;
        margin-bottom: 30px;
        &__img {
            position: relative;
            width: 341px;
            height: 266px;
            img {
                width: 100%;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
            &__signature {
                position: absolute;
                padding: 8px 17px;
                top: 40px;
                background-color: #FED74B;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #3E3E3E;
                text-transform: uppercase;
                &-blue {
                    background-color: #099CE8;
                    color: #FFFFFF;
                }
            }
        }
        &__text {
            padding: 18px 12px;
            &__subtitle {
                height: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    width: 16px;
                    height: 16px;
                }
                span {
                    margin-left: 9px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #9E9E9E;
                }
            }
            &__title {
                margin-top: 15px;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: #404040;
                margin-bottom: 6px;
            }
            &__list {
                list-style-type: none;
            }
            &__li {
                padding-top: 11px;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: #4B4B4B;
                display: flex;
                img {
                    margin-top: 3px;
                    margin-right: 20px;
                    width: 16px;
                    height: 16px;
                }
            }
            &__time {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                &-item {
                    width: 64px;
                    height: 24px;
                    padding-top: 2px;
                    padding-left: 14px;
                    background-color: #D9E8FF;
                    border-radius: 11px;
                    margin-top: 7px;
                    margin-right: 7px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #343434;
                    &-click {
                        background-color: #6BA6FF;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                        color: #FFFFFF;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: #6BA6FF;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                        color: #FFFFFF;
                    }
                }
            }
            &__buy {
                margin-top: 35px;
                padding: 0 7px;
                height: 44px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            &__price {
                &-title {
                    height: 22px;
                    span {
                        display: inline-block;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 22px;
                        color: #000000;
                    }
                    img {
                        height: 100%;
                    }
                }
                &-subtitle {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 22px;
                    color: #000000;
                }
            }
            &__btn {
                width: 165px;
                height: 44px;
                background-color: #FED74B;
                border: 0.5px solid #CBA500;
                border-radius: 20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #404040;
                cursor: pointer;
            }
        }
    }
}

.hide {
    display: none;
}